.report {
  padding: 0px 10px;
  background: #78ba43;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.align-item-baseline {
  align-items: baseline;
}

.ant-picker {
  width: 120px;
}

.topbar {
  margin-bottom: 10px;
}

.text-align-center {
  text-align: center;
}

.topnav_btn {
  display: inline-grid;
  padding: 0 3px;
}

.intop .anticon {
  color: #000;
}