.profile_form .anticon {
  color: #000;
}

.form-center {
  width: 50%;
  margin: auto;
  padding: 51px 100px;
  background: #efefef;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-center p {
  font-size: 16px;
  color: #000;
}

.bg-green {
  background-color: #78bc43;
  height: 100px;
  width: 50%;
  margin: auto;
  padding: 51px 100px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.ant-upload {
  border-radius: 50% !important;
  background: #ffff !important;
  margin-bottom: 40px !important;
}

.profile-drop {
  text-align: center;
  margin-top: -105px;
}