.settings-warp {
  width: 50%;
  margin: 0 auto 50px auto;
  padding: 20px 20px 40px 20px;
  background-color: #fff;
  border-radius: 15px;
}

.bg-clr {
  background-color: #e7e7e7;
  padding: 14px;
}

.contact-section {
  padding: 10px;
  font-size: 18px;
}

.contact-section i {
  padding: 18px;
}

.settings_box_shadow {
  border-radius: 15px;
  box-shadow: 8px 13px 19px -13px rgb(0 0 0 / 35%);
  -webkit-box-shadow: 8px 13px 19px -13px rgb(0 0 0 / 35%);
  -moz-box-shadow: 8px 13px 19px -13px rgb(0 0 0 / 35%);
  padding: 20px 20px 20px 20px;
  margin: 0 10px 15px 10px;
}

.min-height {
  min-height: 176px;
}

.settings-warp h3 {
  padding-left: 15px;
}

.settings_box_shadow i {
  padding: 0 15px;
}

.setting-form .ant-form-item {
  margin: 0 0 5px !important;
}

.ant-modal-title {
  text-align: center;
}