.holiday {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  background: #eebf03;
  border-radius: 50%;
  display: inline-block;
}

.lop {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  background: #fe0008;
  border-radius: 50%;
  display: inline-block;
}

.sick {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  background: linear-gradient(-92deg, #2a80df, #2a80df 47%, white 48%, white 44%, #66cd36 47%);
  border-radius: 50%;
  display: inline-block;
}

.present {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  background: #64cd35;
  border-radius: 50%;
  display: inline-block;
}